{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<nav class="{% block nav_classes %}navbar navbar-expand-lg navbar-light storefront-main-nav{% endblock %}">
    {% block navbar_toggler %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% endblock %}

    {% block navbar_basket %}
        <div class="ml-auto d-inline-block d-lg-none">
            {% include "oscar/partials/nav_primary_cart_button.html" %}
        </div>
    {% endblock %}

    {% block navbar_collapse %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% include "oscar/partials/nav_primary_logo_menu.html" %}

            <div class="storefront-actions ml-lg-auto">
                {% include "oscar/partials/nav_primary_search_group.html" %}
                <div class="d-none d-lg-block">
                    {% include "oscar/partials/nav_primary_cart_button.html" %}
                </div>
            </div>
        </div>
    {% endblock %}
</nav>
