{% load i18n %}

{% url 'catalogue:index' as catalogue_url %}

<a class="navbar-brand storefront-brand mr-lg-4" href="{{ homepage_url }}">
    {% firstof shop_name "Store" %}
</a>

<ul class="navbar-nav storefront-menu">
    <li class="nav-item">
        <a class="nav-link {% if request.path == catalogue_url %}active{% endif %}" href="{{ catalogue_url }}">{% trans "Lojas" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.path == '/sobre-nos/' %}active{% endif %}" href="/sobre-nos/">{% trans "Sobre nós" %}</a>
    </li>
</ul>
